* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    line-height: 1.8;
    margin: 0;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    float: left;
}
.social {
    float: right;
}
.topbar nav a {
    color:blue;
    text-decoration: none;
}
.topbar nav a:hover, .topbar nav a.active {
    color: black;
}
 
