* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  line-height: 1.8;
  margin: 0;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  float: left;
  padding: 31px 87px;
  opacity: 0.5;
}
.social {
  float: right;
}
.social a {
  padding: 0 12px;
  opacity: 0.5;
}
.social a:hover {
  opacity: 1;
}
.topbar nav a {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
  padding: 0 53px;
}
.topbar nav a:hover,
.topbar nav a.active {
  color: black;
}
.banniere img {
  width: 100%;
  height: auto;
}
.main {
  float: left;
  height: 200px;
  background: grey;
  width: calc(100% - 375px);

}

.sidebar {
  float: right;
  padding: 40px;
  background: lightgrey;
  width: 378px;
  
}
.sidebar a {
    color: blueviolet;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 35px 0;
}
.sidebar-title:first-child {
    margin-top: 0;
}
.footer {
    clear: both;
}